<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citoyenaction.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddReactionActivity"></activity>
        <activity android:name=".ActsActivity" />
        <activity android:name=".ShowPostActivity" />
        <activity android:name=".AddFileActivity" />
        <activity android:name=".MyActsActivity" />
        <activity
            android:name=".MesActsActivity"
            android:label="@string/title_activity_mes_acts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddPostActivity" />
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>